.CFUserTextEncoding
.oracle_jre_usage/
.pia_manager/
.Xauthority
.DS_Store
.oh-my-zsh/
.IdeaIC*
.PyCharm*
.pia_manager_crash.log
.python-eggs/
.emacs.d/
.semantic-highlight-cache
.zcompdump*
.zprofile
.subversion/
.local/
.mono/
.vimperator/
.rnd
.android/
.Trash
.atom
.bash_history
.bash_profile
.bashrc
.cache
.config
.ssh/
.viminfo
.zlogin
.zsh-update
.zsh_history
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs
VirtualBoxVMs
Applications
tools/
Storage/
Qt/
sources/
tools/
IdeaProjects/
Projects/
Copy/
.fzf/
