.CFUserTextEncoding
.oracle_jre_usage/
.pia_manager/
.Xauthority
.DS_Store
.IdeaIC*
.clion*/
.PyCharm*
.muttator/
.pia_manager_crash.log
.python-eggs/
.semantic-highlight-cache
.zcompdump*
.zprofile
.subversion/
.local/
.mono/
.vimperator/
.rnd
.android/
.Trash
.atom
.bash_history
.bash_profile
.bashrc
.cache
.config
.ssh/
.viminfo
.zlogin
.zsh-update
.zsh_history
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs
VirtualBoxVMs
Applications
Storage/
Qt/
sources/
IdeaProjects/
Projects/
Copy/
Sync/
.fzf/
