.CFUserTextEncoding
.DS_Store
.IdeaIC*
.PyCharm*
.Trash
Google Drive/
.Xauthority
.android/
.atom
.bash_history
.bash_profile
.bashrc
.cache
.clion*/
.config
.dnx/
.eclim/.eclimd_instances
.fzf/
.gem/
.lesshst
.local/
.mono/
.muttator/
.npm/
.oracle_jre_usage/
.pia_manager/
.pia_manager_crash.log
.python-eggs/
.rnd
.semantic-highlight-cache
.ssh/
.subversion/
.vimgolf/
.viminfo
.vimperator/
.zcompdump*
.zlogin
.zprofile
.zsh-update
.zsh_history
.oh-my-zsh/
gotham-contrib/
.emacs.d/
Applications
Copy/
Desktop/
Documents/
Downloads/
Dropbox/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Qt/
Sites/
Storage/
Sync/
VirtualBox VMs
VirtualBoxVMs
sources/
/syncthing/
